<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <h1>PDF - EJS - <%= curso %></h1>
    </div>
    <hr>
    <div class="container">
      <p>Nome do Usuário: <strong style="color: blue;"><%= nomeDoUsuario %></strong></p>
      <p>Nome do Curso: <%= curso %></p>
     
    </div>
    
  
   
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap.bundle.min.js"></script>
  </body>
</html>